.dot-spinner {
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-out 1.5s;

  &.hidden {
    opacity: 0;
  }
}

.dot-spinner .bounce1 {
  animation-delay: -0.32s;
}

.dot-spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

.dot-spinner > div {
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  border-radius: 100%;
  display: inline-block;
  height: 12px;
  width: 12px;
}
