.configurator-main-wrapper {
  min-height: calc(100vw + 250px);

  @media only screen and (min-width: 1024px) {
    min-height: calc(((100vw - (393px + 16px - 32px)) * 0.74) - 10px);
  }

  @media only screen and (min-width: 1280px) {
    min-height: calc(((100vw - (393px + 32px - 32px)) * 0.58) - 9px);
  }

  @media only screen and (min-width: 1440px) {
    min-height: calc(((100vw - (420px + 74px - 32px)) * 0.63) - 10px);
  }

  @media only screen and (min-width: 1680px) {
    min-height: calc(((100vw - (420px + 74px - 32px)) * 0.56) - 10px);
  }

  &--padding {
    min-height: calc(100vw + 250px + var(--navigation-modern-padding));

    @media only screen and (min-width: 1024px) {
      min-height: calc(((100vw - (393px + 16px - 32px)) * 0.74) - 10px + var(--navigation-modern-padding));
    }

    @media only screen and (min-width: 1280px) {
      min-height: calc(((100vw - (393px + 32px - 32px)) * 0.58) - 9px + var(--navigation-modern-padding));
    }

    @media only screen and (min-width: 1440px) {
      min-height: calc(((100vw - (420px + 74px - 32px)) * 0.63) - 10px + var(--navigation-modern-padding));
    }

    @media only screen and (min-width: 1680px) {
      min-height: calc(((100vw - (420px + 74px - 32px)) * 0.56) - 10px);
    }
  }

  &--step {
    min-height: calc(100vh - var(--header-height));

    @screen lg {
      min-height: calc(100vh - var(--header-height) - 23px);
    }
  }
}